<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shared File - View Files</title>

    <!-- CSS -->
    <link rel="stylesheet" href="view/css/base.css">
    <link rel="stylesheet" href="view/css/files.css">
</head>
<body>
    <main>
        <section class="main-section">
            <h1>Browse Files..</h1>
            <!-- Main content -->
            <div class="main-content">
                <div class="toolbar">
                    <!-- Upload file -->
                    <button class="open-upload-file">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: white;"><path d="M6 22h12a2 2 0 0 0 2-2V8l-6-6H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2zm7-18 5 5h-5V4zM8 14h3v-3h2v3h3v2h-3v3h-2v-3H8v-2z"></path></svg>
                        <span>Upload file(s)</span>
                    </button>
                </div>
                <!-- File(s) table -->
                <table>
                    <!-- Column titles -->
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">File Name</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <!-- File contents here -->
                    <tbody></tbody>
                </table>
            </div>
        </section>
        <section class="upload-file-section" style="visibility: hidden;">
            <div class="modal">
                <h2>Upload File(s)</h2>
                <!-- Upload form -->
                <form>
                    <input type="file" name="upload-file" multiple required>
                    <!-- Progress bar -->
                    <div class="progress">
                        <progress value="0"></progress>
                        <p class="loaded-total"></p>
                    </div>
                    <!-- Buttons -->
                    <div class="buttons">
                        <button type="submit" class="upload-btn">Upload</button>
                        <button type="reset" class="exit-btn" onclick="resetForm()">Exit</button>
                    </div>
                </form>
            </div>
        </section>
    </main>

    <!-- Javascript -->
    <script type="text/javascript" src="view/js/fileDataHandler.js"></script>
    <script type="text/javascript" src="view/js/uploadFormHandler.js"></script>
    <script type="text/javascript">
        const openBtn = document.querySelector("button.open-upload-file");

        // Open upload file section button listener
        openBtn.addEventListener("click", () => {
            // Toggle upload file section visibility style
            if (uploadFileSection.style.visibility === "hidden") {
                uploadFileSection.style.visibility = "visible";
            }
            else {
                uploadFileSection.style.visibility = "hidden";
            }
        });
    </script>
</body>
</html>